{% extends 'base.html'%} {% block content %}

<div class="menu_box">
    <ul class="collapsible">
        <h3>All Recipes in the Database</h3>
        
        {% for rec in recipes %}
            <li class="divider"></li>
            <li>
                <div class="collapsible-header">
                    {{ rec.recipe_name }} <i class="material-icons small">add</i>
                </div>
                <div class="collapsible-body">
                    <h4> {{ rec.recipe_name }}</h4>
                    <h6>{{ rec.recipe_description }} </h6>
                    <h6>Submitted by aspiring chef <b>{{ rec.author_name }}! </b></h6> <br>
                    <b>Cuisine: </b>{{ rec.cuisine_name }} <br><br>
                    <b>Ingredients: </b>{{ rec.recipe_ingredients }} <br><br>
                    <b>Method: </b>{{ rec.recipe_method }} <br><br>
                    <b>Is the recipe vegetarian? </b>
                        {% if rec.recipe_is_vegetarian == "true" %}
                            <span class="v_friendly">Yes!</span>
                        {% else %} No 
                        {% endif %} <br><br>
                    <b>How many loves for this recipe? </b>{{ rec.recipe_loves }} <sub><i class="material-icons tiny">favorite</i></sub><br><br>
                <a href="#" class="waves-effect waves-light btn btn_small button-right">Edit</a>
                <a href="#" class="waves-effect waves-light btn btn_small button-right">Delete</a><br>
                </div>
            </li>
        {% endfor %}

{% endblock %}  